<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ESAJ - Escola de Administração Judiciária - Eventos">

    <link rel="icon" href="../../assets/media/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="./style.css"/>
    <link rel="stylesheet" href="../../styles/banner.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/header.css">
    <link rel="stylesheet" href="../../styles/sidenav.css">
    <link rel="stylesheet" href="../../styles/globalStyle.css">

    <title> ESAJ - Escola de Administração Judiciária </title>
</head>
<body>

    <div id="menu" class="hidden">
        <aside>
            <a href="../../index.html">
                <img width="45" height="57" alt="Logo da ESAJ" src="../../assets/media/logo_white.webp"/>
            </a>
            <div class="closeMenu" onclick="toggleMenu()">
                <svg viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="28" d="M368 368L144 144M368 144L144 368"/></svg>
            </div>
        </aside>
        <main>
            <p> ESAJ </p>
            <a href="../../index.html"> Início </a>
            <a href="../Apresentacao/apresentacao.html"> Apresentação </a>
            <a href="../Regulamentacoes/regulamentacoes.html"> Regulamentações </a>
            <a href="../Convenios/convenios.html"> Convênios </a>
            <a href="#"> Eventos </a>

            <div onclick="toggleItem('cursos')"> 
                <p> Cursos </p>  
                <svg viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
            </div>

            <div onclick="toggleItem('pesquisas')"> 
                <p> Pesquisas de Reação </p>
                <svg viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
            </div>

            <a href="../PerfilInstrutor/perfilInstrutor.html"> Perfil do Instrutor </a>
            <a href="../Competencia/competencia.html"> Matrizes de competência </a>

            <a href="../FIG/fig.html"> FIG </a>
            <a href="../PosGraduacao/posGraduacao.html"> Pós-Graduação </a>
        </main>
        <section class="closed">
            <p></p>
            <ul class="cursos">
                <li> <a href="https://www3.tjrj.jus.br/segweb/faces/login.jsp?SIGLASISTEMA=ESAJ_INTERNET" target="_blank"> Inscrições e consultas online </a> </li>
                <li> <a href="http://www4.tjrj.jus.br/ESAJInterface/ProgramacaoDeCurso.aspx"> Programação de Cursos </a> </li>
                <li> <a href="../CursosRegulares/cursosRegulares.html"> Cursos Regulares / Conteúdo Programático </a> </li>
                <li> <a href="../CursosDistancia/cursosDistancia.html"> Cursos a Distância </a> </li>
            </ul>
            <ul class="pesquisas">
                <li> <a href="../PesquisaOpiniao/pesquisaOpiniao.html"> Pesquisa de Opinião </a> </li>
                <li> <a href="../PesquisaSatisfacao/pesquisaSatisfacao.html"> Pesquisa de Satisfação </a> </li>
            </ul>
        </section>
        <div onclick="toggleMenu()">
            <h1> Escola de Administração Judiciária </h1>
        </div>
    </div>

    <header>
        <div>
            <a href="../../index.html">
                <img width="45" height="57" alt="Logo da ESAJ" src="../../assets/media/logo_white.webp"/>
            </a>
            <div id="menuAccess">
                <svg viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
            </div>
        </div>

        <div>
            <a href="#contact"> Contato </a>
            <a href="mailto:esaj.faleconosco@tjrj.jus.br"> Fale conosco </a>

            <div class="divider"></div>

            <div class="socialmedia">
                <svg onclick="NavigateToScreen('https://www.instagram.com/esajoficialtjrj/')" viewBox="0 0 512 512"><path d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"/><path d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"/></svg>
                <svg onclick="NavigateToScreen('https://web.facebook.com/esajoficialtjrj?_rdc=1&_rdr')" viewBox="0 0 512 512"><path d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z" fill-rule="evenodd"/></svg>
                <svg onclick="NavigateToScreen('https://www.youtube.com/channel/UCy9ggCv5z9kI-25Sqj6y1Dw')" viewBox="0 0 512 512"><path d="M508.64 148.79c0-45-33.1-81.2-74-81.2C379.24 65 322.74 64 265 64h-18c-57.6 0-114.2 1-169.6 3.6C36.6 67.6 3.5 104 3.5 149 1 184.59-.06 220.19 0 255.79q-.15 53.4 3.4 106.9c0 45 33.1 81.5 73.9 81.5 58.2 2.7 117.9 3.9 178.6 3.8q91.2.3 178.6-3.8c40.9 0 74-36.5 74-81.5 2.4-35.7 3.5-71.3 3.4-107q.34-53.4-3.26-106.9zM207 353.89v-196.5l145 98.2z"/></svg>
            </div>
        </div>
    </header>

    <div id="banner">
        <h2> ESCOLA DE ADMINISTRAÇÃO JUDICIÁRIA </h2>
        <h1> Eventos </h1>
    </div>

    <div class="intro">
        <p> PROMOVE AÇÕES DE CAPACITAÇÃO PARA FORMAÇÃO E APERFEIÇOAMENTO DE SERVIDORES E AUXILIARES DA JUSTIÇA. </p>
    </div>

    <section>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-11-30 PVSOS.webp">
                <img src="../../assets/media/eventos/2023/2023-11-30 PVSOS.webp" alt="Cartaz do curso PVSOS" title="Cartaz do curso PVSOS"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-11-27 ACRAE.webp">
                <img src="../../assets/media/eventos/2023/2023-11-27 ACRAE.webp" alt="Cartaz do curso ACRAE" title="Cartaz do curso ACRAE"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-11-07 PVTES.webp">
                <img src="../../assets/media/eventos/2023/2023-11-07 PVTES.webp" alt="Cartaz do curso PVTES" title="Cartaz do curso PVTES"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-30 PVLIN.webp">
                <img src="../../assets/media/eventos/2023/2023-10-30 PVLIN.webp" alt="Cartaz do curso PVLIN" title="Cartaz do curso PVLIN"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-25 PVFOT.webp">
                <img src="../../assets/media/eventos/2023/2023-10-25 PVFOT.webp" alt="Cartaz do curso PVFOT" title="Cartaz do curso PVFOT"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-23 IIEM.webp">
                <img src="../../assets/media/eventos/2023/2023-10-23 IIEM.webp" alt="Cartaz do curso IIEM" title="Cartaz do curso IIEM"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-18 ACRET.webp">
                <img src="../../assets/media/eventos/2023/2023-10-18 ACRET.webp" alt="Cartaz do curso ACRET" title="Cartaz do curso ACRET"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-18 PVMAM.webp">
                <img src="../../assets/media/eventos/2023/2023-10-18 PVMAM.webp" alt="Cartaz do curso PVMAM" title="Cartaz do curso PVMAM"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-04 PVSDE.webp">
                <img src="../../assets/media/eventos/2023/2023-10-04 PVSDE.webp" alt="Cartaz do curso PVSDE" title="Cartaz do curso PVSDE"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-10-02 PVMID.webp">
                <img src="../../assets/media/eventos/2023/2023-10-02 PVMID.webp" alt="Cartaz do curso PVMID" title="Cartaz do curso PVMID"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-09-28 PVIDA.webp">
                <img src="../../assets/media/eventos/2023/2023-09-28 PVIDA.webp" alt="Cartaz do curso PVIDA" title="Cartaz do curso PVIDA"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-09-26 PVSUU.webp">
                <img src="../../assets/media/eventos/2023/2023-09-26 PVSUU.webp" alt="Cartaz do curso PVSUU" title="Cartaz do curso PVSUU"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-09-25 NGDT.webp">
                <img src="../../assets/media/eventos/2023/2023-09-25 NGDT.webp" alt="Cartaz do curso NGDT" title="Cartaz do curso NGDT"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-09-21 PVESS.webp">
                <img src="../../assets/media/eventos/2023/2023-09-21 PVESS.webp" alt="Cartaz do curso PVESS" title="Cartaz do curso PVESS"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-09-19 PVESG.webp">
                <img src="../../assets/media/eventos/2023/2023-09-19 PVESG.webp" alt="Cartaz do curso PVESG" title="Cartaz do curso PVESG"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-09-01 PVIDD.webp">
                <img src="../../assets/media/eventos/2023/2023-09-01 PVIDD.webp" alt="Cartaz do curso PVIDD" title="Cartaz do curso PVIDD"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-31 PVIDO.webp">
                <img src="../../assets/media/eventos/2023/2023-08-31 PVIDO.webp" alt="Cartaz do curso PVIDO" title="Cartaz do curso PVIDO"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-16 LICOM.webp">
                <img src="../../assets/media/eventos/2023/2023-08-16 LICOM.webp" alt="Cartaz do curso LICOM" title="Cartaz do curso LICOM"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-08 PVPOR.webp">
                <img src="../../assets/media/eventos/2023/2023-08-08 PVPOR.webp" alt="Cartaz do curso PVPOR" title="Cartaz do curso PVPOR"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-07 ACRPD.webp">
                <img src="../../assets/media/eventos/2023/2023-08-07 ACRPD.webp" alt="Cartaz do curso ACRPD" title="Cartaz do curso ACRPD"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-03 PVRAL.webp">
                <img src="../../assets/media/eventos/2023/2023-08-03 PVRAL.webp" alt="Cartaz do curso PVRAL" title="Cartaz do curso PVRAL"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-02 PVROL.webp">
                <img src="../../assets/media/eventos/2023/2023-08-02 PVROL.webp" alt="Cartaz do curso PVROL" title="Cartaz do curso PVROL"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-08-01 MVLGM.webp">
                <img src="../../assets/media/eventos/2023/2023-08-01 MVLGM.webp" alt="Cartaz do curso MVLGM" title="Cartaz do curso MVLGM"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-27 PVROS.webp">
                <img src="../../assets/media/eventos/2023/2023-07-27 PVROS.webp" alt="Cartaz do curso PVROS" title="Cartaz do curso PVROS"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-25 PVCUA.webp">
                <img src="../../assets/media/eventos/2023/2023-07-25 PVCUA.webp" alt="Cartaz do curso PVCUA" title="Cartaz do curso PVCUA"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-18 ACRJG012023.webp">
                <img src="../../assets/media/eventos/2023/2023-07-18 ACRJG012023.webp" alt="Cartaz do curso ACRJG012023" title="Cartaz do curso ACRJG012023"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-17 PVTEL.webp">
                <img src="../../assets/media/eventos/2023/2023-07-17 PVTEL.webp" alt="Cartaz do curso PVTEL" title="Cartaz do curso PVTEL"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-17 PVPLS.webp">
                <img src="../../assets/media/eventos/2023/2023-07-17 PVPLS.webp" alt="Cartaz do curso PVPLS" title="Cartaz do curso PVPLS"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-14 PVTAR.webp">
                <img src="../../assets/media/eventos/2023/2023-07-14 PVTAR.webp" alt="Cartaz do curso PVTAR" title="Cartaz do curso PVTAR"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-11 PVALE.webp">
                <img src="../../assets/media/eventos/2023/2023-07-11 PVALE.webp" alt="Cartaz do curso PVALE" title="Cartaz do curso PVALE"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-10 PVINJ.webp">
                <img src="../../assets/media/eventos/2023/2023-07-10 PVINJ.webp" alt="Cartaz do curso PVINJ" title="Cartaz do curso PVINJ"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-07-06 PVPRJ.webp">
                <img src="../../assets/media/eventos/2023/2023-07-06 PVPRJ.webp" alt="Cartaz do curso PVPRJ" title="Cartaz do curso PVPRJ"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-27 PVTUP.webp">
                <img src="../../assets/media/eventos/2023/2023-06-27 PVTUP.webp" alt="Cartaz do curso PVTUP" title="Cartaz do curso PVTUP"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-22 PVESC.webp">
                <img src="../../assets/media/eventos/2023/2023-06-22 PVESC.webp" alt="Cartaz do curso PVESC" title="Cartaz do curso PVESC"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-20 PVTEC.webp">
                <img src="../../assets/media/eventos/2023/2023-06-20 PVTEC.webp" alt="Cartaz do curso PVTEC" title="Cartaz do curso PVTEC"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-15 PVSFP.webp">
                <img src="../../assets/media/eventos/2023/2023-06-15 PVSFP.webp" alt="Cartaz do curso PVSFP" title="Cartaz do curso PVSFP"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-15 AVPCD.webp">
                <img src="../../assets/media/eventos/2023/2023-06-15 AVPCD.webp" alt="Cartaz do curso AVPCD" title="Cartaz do curso AVPCD"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-14 PVMIC.webp">
                <img src="../../assets/media/eventos/2023/2023-06-14 PVMIC.webp" alt="Cartaz do curso PVMIC" title="Cartaz do curso PVMIC"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-13 WVVLA.webp">
                <img src="../../assets/media/eventos/2023/2023-06-13 WVVLA.webp" alt="Cartaz do curso WVVLA" title="Cartaz do curso WVVLA"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-13 PVART.webp">
                <img src="../../assets/media/eventos/2023/2023-06-13 PVART.webp" alt="Cartaz do curso PVART" title="Cartaz do curso PVART"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-12 AVDC.webp">
                <img src="../../assets/media/eventos/2023/2023-06-12 AVDC.webp" alt="Cartaz do curso AVDC" title="Cartaz do curso AVDC"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-06 PVEMB.webp">
                <img src="../../assets/media/eventos/2023/2023-06-06 PVEMB.webp" alt="Cartaz do curso PVEMB" title="Cartaz do curso PVEMB"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-06-01 PVIGU.webp">
                <img src="../../assets/media/eventos/2023/2023-06-01 PVIGU.webp" alt="Cartaz do curso PVIGU" title="Cartaz do curso PVIGU"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-17 PVMOS.webp">
                <img src="../../assets/media/eventos/2023/2023-05-17 PVMOS.webp" alt="Cartaz do curso PVMOS" title="Cartaz do curso PVMOS"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-16 PVOTI.webp">
                <img src="../../assets/media/eventos/2023/2023-05-16 PVOTI.webp" alt="Cartaz do curso PVOTI" title="Cartaz do curso PVOTI"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-16 GXGEP.webp">
                <img src="../../assets/media/eventos/2023/2023-05-16 GXGEP.webp" alt="Cartaz do curso GXGEP" title="Cartaz do curso GXGEP"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-16 AVSIS012023.webp">
                <img src="../../assets/media/eventos/2023/2023-05-16 AVSIS012023.webp" alt="Cartaz do curso AVSIS012023" title="Cartaz do curso AVSIS012023"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-15 PVAUT.webp">
                <img src="../../assets/media/eventos/2023/2023-05-15 PVAUT.webp" alt="Cartaz do curso PVAUT" title="Cartaz do curso PVAUT"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-15 MVCCD012023.webp">
                <img src="../../assets/media/eventos/2023/2023-05-15 MVCCD012023.webp" alt="Cartaz do curso MVCCD012023" title="Cartaz do curso MVCCD012023"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-11 PVOCR.webp">
                <img src="../../assets/media/eventos/2023/2023-05-11 PVOCR.webp" alt="Cartaz do curso PVOCR" title="Cartaz do curso PVOCR"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-10 WVGES.webp">
                <img src="../../assets/media/eventos/2023/2023-05-10 WVGES.webp" alt="Cartaz do curso WVGES" title="Cartaz do curso WVGES"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-09 PVPIO.webp">
                <img src="../../assets/media/eventos/2023/2023-05-09 PVPIO.webp" alt="Cartaz do curso PVPIO" title="Cartaz do curso PVPIO"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-05-04 MVDHU.webp">
                <img src="../../assets/media/eventos/2023/2023-05-04 MVDHU.webp" alt="Cartaz do curso MVDHU" title="Cartaz do curso MVDHU"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-04-19 PVVAC.webp">
                <img src="../../assets/media/eventos/2023/2023-04-19 PVVAC.webp" alt="Cartaz do curso PVVAC" title="Cartaz do curso PVVAC"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-04-18 PVSIG.webp">
                <img src="../../assets/media/eventos/2023/2023-04-18 PVSIG.webp" alt="Cartaz do curso PVSIG" title="Cartaz do curso PVSIG"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-04-18 Precedentes.webp">
                <img src="../../assets/media/eventos/2023/2023-04-18 Precedentes.webp" alt="Cartaz do curso Precedentes" title="Cartaz do curso Precedentes"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-04-11 PVCRE.webp">
                <img src="../../assets/media/eventos/2023/2023-04-11 PVCRE.webp" alt="Cartaz do curso PVCRE" title="Cartaz do curso PVCRE"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-03-29 PVBEN.webp">
                <img src="../../assets/media/eventos/2023/2023-03-29 PVBEN.webp" alt="Cartaz do curso PVBEN" title="Cartaz do curso PVBEN"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-03-27 PVVER.webp">
                <img src="../../assets/media/eventos/2023/2023-03-27 PVVER.webp" alt="Cartaz do curso PVVER" title="Cartaz do curso PVVER"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-03-16 PVICM.webp">
                <img src="../../assets/media/eventos/2023/2023-03-16 PVICM.webp" alt="Cartaz do curso PVICM" title="Cartaz do curso PVICM"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-03-14 PVCIA.webp">
                <img src="../../assets/media/eventos/2023/2023-03-14 PVCIA.webp" alt="Cartaz do curso PVCIA" title="Cartaz do curso PVCIA"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-03-09 PVMOD.webp">
                <img src="../../assets/media/eventos/2023/2023-03-09 PVMOD.webp" alt="Cartaz do curso PVMOD" title="Cartaz do curso PVMOD"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-03-08 TTA012023.webp">
                <img src="../../assets/media/eventos/2023/2023-03-08 TTA012023.webp" alt="Cartaz do curso TTA012023" title="Cartaz do curso TTA012023"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-02-07 PVRDF.webp">
                <img src="../../assets/media/eventos/2023/2023-02-07 PVRDF.webp" alt="Cartaz do curso PVRDF" title="Cartaz do curso PVRDF"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-02-06 PVREA.webp">
                <img src="../../assets/media/eventos/2023/2023-02-06 PVREA.webp" alt="Cartaz do curso PVREA" title="Cartaz do curso PVREA"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-02-02 PVDAO.webp">
                <img src="../../assets/media/eventos/2023/2023-02-02 PVDAO.webp" alt="Cartaz do curso PVDAO" title="Cartaz do curso PVDAO"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-01-31 PVINE.webp">
                <img src="../../assets/media/eventos/2023/2023-01-31 PVINE.webp" alt="Cartaz do curso PVINE" title="Cartaz do curso PVINE"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-01-31 ESG.webp">
                <img src="../../assets/media/eventos/2023/2023-01-31 ESG.webp" alt="Cartaz do curso ESG" title="Cartaz do curso ESG"/>
            </a>
        </div>
        <div>
            <a target="_blank" href="../../assets/media/eventos/2023/2023-01-30 PVPRV.webp">
                <img src="../../assets/media/eventos/2023/2023-01-30 PVPRV.webp" alt="Cartaz do curso PVPRV" title="Cartaz do curso PVPRV"/>
            </a>
        </div>
    </section>
    
    <footer id="contact">
            <img width="90" height="114" alt="Logo da ESAJ" src="../../assets/media/logo_white.webp"/>

            <div>
                <div>
                    <svg viewBox="0 0 512 512"><path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
                    <p> Rua Dom Manuel, 29 - 4º e 5º andar - Centro, Rio de Janeiro </p>
                </div>
                <div>
                    <svg viewBox="0 0 512 512"><path d="M451 374c-15.88-16-54.34-39.35-73-48.76-24.3-12.24-26.3-13.24-45.4.95-12.74 9.47-21.21 17.93-36.12 14.75s-47.31-21.11-75.68-49.39-47.34-61.62-50.53-76.48 5.41-23.23 14.79-36c13.22-18 12.22-21 .92-45.3-8.81-18.9-32.84-57-48.9-72.8C119.9 44 119.9 47 108.83 51.6A160.15 160.15 0 0083 65.37C67 76 58.12 84.83 51.91 98.1s-9 44.38 23.07 102.64 54.57 88.05 101.14 134.49S258.5 406.64 310.85 436c64.76 36.27 89.6 29.2 102.91 23s22.18-15 32.83-31a159.09 159.09 0 0013.8-25.8C465 391.17 468 391.17 451 374z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>
                    <p> (21) 3133-2103 </p>
                </div>
                <div>
                    <svg viewBox="0 0 512 512"><rect x="48" y="96" width="416" height="320" rx="40" ry="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 160l144 112 144-112"/></svg>
                    <p> esaj@tjrj.jus.br </p>
                </div>
                <div>
                    <svg viewBox="0 0 512 512"><path d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34M394.67 394.67c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M256 48v416M464 256H48"/></svg>
                    <p> @esajoficialtjrj </p>
                </div>
            </div>
        </div>
    </footer>

    <div id="goToTop" class="hidden">
        <svg viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="36" d="M112 244l144-144 144 144M256 120v292"/></svg>
    </div>

    <script src="../../globalScript.js"></script>
</body>
</html>